<%- include("partials/header"); %>

<div class="jumbotron centeredHome">
  <div class="container">
    <h1 class="display-3">Rock Climbing Club</h1>
    <p class="lead">Join Us!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/seeUsers" role="button">See Users</a>

  </div>
</div>

<%- include('partials/footer'); %>
